html,
body {
  font-family: "Raleway", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.img-button {
  margin-top: 6em !important;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}

.img-button:hover {
  background-color: #fff !important;
  color: #013959;
}

.text-primary {
  color: #40A774 !important;
}

.text-link {
  color: #025786 !important;
}

.btn {
  border-radius: 0 !important;
  margin: 0 0.5em;
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 0rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-primary {
  color: #fff;
  background-color: #40A774;
  border-color: #40A774;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2A6F4D;
  border-color: #2A6F4D;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 111, 77, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(42, 111, 77, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2A6F4D;
  border-color: #2A6F4D;
}

.btn-secondary {
  color: #fff;
  background-color: #025786 !important;
  border-color: #025786 !important;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #013A59 !important;
  border-color: #013A59 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(1, 58, 89, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(1, 58, 89, 0.5) !important;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #013A59 !important;
  border-color: #013A59 !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

a.nav-link.active {
  color: #40A774 !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #40A774;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.1rem #40A774;
  box-shadow: 0 0 0 0.1rem #40A774;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #40A774;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.c_btn-primary {
  font-size: 1.5rem;
  background: #fff;
  color: #013959;
  font-weight: 300;
  border-left: 10px solid #40A774;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.c_btn-primary i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.c_btn-primary:hover i {
  margin-left: 20px;
}

a:hover {
  text-decoration: none;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -10px;
}

.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
}

.social-button__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-button i {
  font-size: 28px;
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
  color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-button--mail {
  color: #0072c6;
}

.social-button--mail::after {
  background: #0072c6;
}

.social-button--facebook {
  color: #3b5999;
}

.social-button--facebook::after {
  background: #3b5999;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}

.social-button--codepen {
  color: #212121;
}

.social-button--codepen::after {
  background: #212121;
}

.social-button--steam {
  color: #7da10e;
}

.social-button--steam::after {
  background: #7da10e;
}

.social-button--snapchat {
  color: #eec900;
}

.social-button--snapchat::after {
  background: #eec900;
}

.social-button--twitter {
  color: #55acee;
}

.social-button--twitter::after {
  background: #55acee;
}

.social-button--instagram {
  color: #e4405f;
}

.social-button--instagram::after {
  background: #e4405f;
}

.social-button--npmjs {
  color: #c12127;
}

.social-button--npmjs::after {
  background: #c12127;
}

/*# sourceMappingURL=main.css.map */

label {
  color: #068845;
  font-weight: bolder;
}
