//variables


html,
body {
  font-family: "Raleway", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.container-fluid {
  width: 100%;
  padding-right: 80px !important;
  padding-left: 80px !important;
  margin-right: auto;
  margin-left: auto;
}

.img-button {
  margin-top: 6em !important;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}

.img-button:hover {
  background-color: #fff !important;
  color: #013959;
}

.text-primary {
  color: #40A774 !important;
}

.text-link {
  color: #025786 !important;
}

.btn {
  border-radius: 0 !important;
  margin: 0 0.5em;
}

.btn-sm,
.btn-group-sm>.btn {
  padding: 0rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}


.btn-primary {
  color: #fff;
  background-color: #40A774;
  border-color: #40A774;

  &:hover {
    // .btn-primary:hover {
    color: #fff;
    background-color: #2A6F4D;
    border-color: #2A6F4D;
    // }
  }
}


.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(42, 111, 77, 0.5)
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2A6F4D;
  border-color: #2A6F4D;
}


.btn-secondary {
  color: #fff;
  background-color: #025786 !important;
  border-color: #025786 !important;

  &:hover {
    // .btn-secondary:hover {
    color: #fff;
    background-color: #013A59 !important;
    border-color: #013A59 !important;
    // }
  }
}


.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(1, 58, 89, 0.5) !important;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #013A59 !important;
  border-color: #013A59 !important;
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}


a.nav-link.active {
  color: #40A774 !important;
}


.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #40A774;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #40A774;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #40A774;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.c_btn-primary {
  font-size: 1.5rem;
  background: #fff;
  color: #013959;
  font-weight: 300;
  border-left: 10px solid #40A774;
  transition: all 0.5s ease-in-out;
}

.c_btn-primary i {
  transition: all 0.5s ease;
}

.c_btn-primary:hover i {
  margin-left: 20px;
}

a:hover {
  text-decoration: none;
}

.btn-flex {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  width: 50%;
  transition: all .3s ease;
  border-left: 15px solid #40A774 !important;
  align-self: center;
}

.btn-flex.variant-white {
  background-color: #fff !important;
  color: #40A774;
}

.btn-flex.variant-white .btn-icon {
  color: #40A774 !important;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #013A59 !important;
  border-left: 15px solid #40A774 !important;
}

.btn-flex .btn-text {
  margin-top: 4px;
}

.btn-flex .btn-icon {
  font-weight: 200;
  width: 50px;
  height: 30px;
  transition: all .3s ease;
}

.btn-flex:hover .btn-icon {
  // margin-left: 0px;
  padding-left: 1em;
}
